.stage-controls
  .btn.btn-default.btn-up
    %span.glyphicon.glyphicon-chevron-up
  %br
  .btn.btn-default.btn-left
    %span.glyphicon.glyphicon-chevron-left
  .btn.btn-default.btn-down
    %span.glyphicon.glyphicon-chevron-down
  .btn.btn-default.btn-right
    %span.glyphicon.glyphicon-chevron-right
  %br
  .text-center
    %a{href: root_path, data: {confirm: 'go to craignaumann.com?'}}
      back to site

.stage
  .slide-container
    .slide
      .slide-content.quick-center
        = render 'intro'
  .slide-container
    -@resume.experiences.each_with_index do |exp,i|
      .slide
        .slide-content.quick-center
          -if i == 0
            .resume-label
              %h4
                Experiences
              %br
              %br
          -@experience = exp
          = render 'experience'
  .slide-container
    .slide
      .slide-content.quick-center
        .resume-label
          %h4
            Skills
        .half-container
          -(@resume.skills.sort_by{ |s| s.experience}).reverse_each.each_slice((@resume.skills.length/2) + 1) do |slice|
            .skills-row
              -slice.each do |skill|
                -@skill = skill
                = render 'skill'
  .slide-container
    .slide
      .slide-content.quick-center
        .resume-label
          %h4
            Projects
        .half-container
          - @resume.projects.each do |project|
            -@project = project
            = render 'project'
