.stage-controls
  .btn.btn-default.btn-up
    %span.glyphicon.glyphicon-chevron-up
  .btn.btn-default.btn-left
    %span.glyphicon.glyphicon-chevron-left
  .btn.btn-default.btn-down
    %span.glyphicon.glyphicon-chevron-down
  .btn.btn-default.btn-right
    %span.glyphicon.glyphicon-chevron-right

.stage
  .slide-container
    .slide
      .slide-content.quick-center
        Slide 3-1
    .slide
      .slide-content.quick-center
        Slide 3-2
    .slide
      .slide-content.quick-center
        Slide 3-3
  .slide-container
    .slide
      .slide-content.quick-center.text-center
        %strong
          Craig Naumann
        %p
          cwn720@gmail.com 951.496.5107
          %a
            craignaumann.com
  .slide-container
    .slide
      .slide-content.quick-center
        %strong
          Experience 1
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .slide-container
    .slide
      .slide-content.quick-center
        Slide 4-1
    .slide
      .slide-content.quick-center
        Slide 4-2