<!DOCTYPE html>
%html
  %head
  %body
    %h1
      New site message
    %h2
      From:
    %p
      = @name
      (
      = @email
      )
    %h2
      Subject:
    %p
      = @subject
    %h2
      Message:
    %p
      = @message
