@import "bootstrap-sprockets";
@import "bootstrap";

//Open sans
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

body{
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px;
  line-height: 1.42857;
  color: $gray;
}

//Home background image
.home{
  background-image: url('http://cwn72.s3.amazonaws.com/ls_bg.jpg');
}

//Navbar
.navbar-default{
  background-color: orange;
  border: none;
  border-radius: 0px;
  > div{
    .navbar-header{
      a{
        color: white;
        text-transform: uppercase;
        letter-spacing: -2px;
        font-size: 200%;
        font-weight: bolder;
        &:hover, &:focus{
          color: white;
        }
      }
    }
    .navbar-nav{
      a{
        color: white;
        font-weight: bold;
        letter-spacing: -1px;
        text-transform: uppercase;
        &:hover, &:focus{
          color: $gray;
        }
      }
      .active{
        color: $gray;
      }
    }
  }
}

//Centering
.quick-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//headings
h3{
  color: orange;
}

h4{
  color: orange;
  font-size: 200%;
}

h5{
  color: orange;
  font-size: 150%;
}

//round images
.thumb-image{
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid orange;
  overflow: hidden;
}

//about page
.profile-row{
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-lighter;
}

.profile-profile-column{
  border-right: 1px solid $gray-lighter;
}

.interest-row{
  margin-top: 20px;
  margin-bottom: 20px;
}

.interest-text{
  padding-top: 50px;
}
//accordions
.accordion{
  border: 1px solid $gray-light;
  border-radius: 5px;
  margin: 10px;
  .accordion-label{
    color: orange;
    margin: 10px;
    font-size: 150%;
    font-weigth: bold;
    text-transform: uppercase;
  }
  .accordion-body{
    margin: 10px;
  }
}


//slide presentation
.stage{
  height: 100vh;
  width: 100vw;
  .slide-container{
    position: absolute;
    height: 100vh;
    .slide{
      position: absolute;
      width: 100vw;
      height: 100vh;
      .slide-content{
      }
    }
  }
}

.stage-controls{
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 9999;
  .btn-up{
    margin-bottom: 3px;
  }
  a{
    text-decoration: none;
    color: orange;
    &:hover, &:focus{
      color: $gray-dark;
    }
  }
}

.quick-dl{
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9999;
  a{
    text-decoration: none;
    color: orange;
    &:hover, &:focus{
      color: $gray-dark;
    }
  }
}

.resume-intro{
  > div{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weitght: bold;
    font-size: 200%;
    color: orange;
  }
  > p{
    font-weight: 100;
    letter-spacing: -1px;
    a{
      color: orange;
      text-decoration: none;
    }
  }
}

.resume-label{
  > h4{
    margin-top: -50px;
    text-transform: uppercase;
  }
}

.resume-experience{
  > strong{
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
  > .resume-dates{
    font-weight: 100;
    letter-spacing: -1px;
    color: orange;
  }
  p{
    font-weight: 100;
    letter-spacing: -1px;
    color: $gray-light;
  }
}

.half-container{
  width: 585px;
}

.skills-row{
  float: left;
  width: 40%;
  margin-right: 10%;
}

.resume-skill{
  margin: 10px;
  div{
    width: 50%;
    float: left;
  }
  .skill-experience{
    float: none;
    margin-left: 50%;
    text-align: right;
  }
}

.resume-project{
  margin: 40px 40px 40px 0px;
  overflow: hidden;
  a{
    text-decoration: none;
  }
  .project-preview{
    width: 200px;
    height: 200px;
    .project-preview-overlay{
      background-color: white;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      > h3{
        color: orange;
        text-transform: uppercase;
        font-size: 130%;
        font-weight: bolder;
        padding-top: 20px;
      }
    }
  }
}