%header.navbar.navbar-default
  .container
    .navbar-header
      %a.navbar-brand{href: root_path}
        Craig Naumann
    %div
      %ul.nav.navbar-nav.pull-right
        %li
          %a{href: root_path}
            Home
        %li
          %a{href: '/about'}
            About
        %li
          %a{href: '#'}
            Resume
        %li
          %a{href: '/contact'}
            Contact


